$blue: #3190e8;
$bc: #e4e4e4;
$fc:#fff;
//宽高
@mixin wh($width, $height){
	width: $width;
	height: $height;
}

//字体大小、行高、字体
@mixin font($size, $line-height, $family: 'Microsoft YaHei') {  
	font: #{$size}/#{$line-height} $family;
}
//字体大小，颜色
@mixin sc($size, $color){
	font-size: $size;
	color: $color;
}