/*reset css begin*/
html,body{
    height: 100%;
    width: 100%;
    background-color: #f5f5f5
}
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;box-sizing: border-box;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;box-sizing: border-box;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
/* h1,h2,h3,h4,h5,h6,small{font-size:100%;} */
/* sup,sub{font-size:83%;} */
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button,area{cursor:pointer;outline: 0 none;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:normal;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font: normal 16px Microsoft Yahei, Arial, Helvetica, sans-serif;color:#333;outline:0 none;}
input,textarea,select{outline: none; border: none; background-color: transparent;}
a{color:#333;}
.clearfix {*zoom: 1;}
.clearfix:after {
    content: "\00A0";
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
    clear: both;
    font-size: 0;
    line-height: 0;
    overflow: hidden
;}
.clear{clear:both;}
.f_left{ float:left;}
.f_right{ float:right;}
.t_left{ text-align:left;}
.t_center{ text-align:center;}
.t_right{ text-align:right;}
.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.top{
    position:fixed;
    bottom:10px;
    right:10px;
}

/*reset css end*/